<%- include('../includes/starting.ejs') %>

    <body>
        <%- include('../includes/topbar.ejs') %>
            <%- include('../includes/search-top.ejs') %>

                <section class="white section">
                    <div class="container-fluid" style="width:90%;">
                        <div class="row">

                            <!-- left side bar starts-->
                            <div id="course-left-sidebar" class="col-md-4">
                                <div class="course-image-widget">
                                    <img src="/img/<%=userInfo.image%>" alt="" class="img-responsive">
                                </div>
                                <div class="course-meta">
                                    <h2 style="color:white;">
                                        <%=userInfo.Name%>
                                    </h2>
                                    <hr>
                                    <p>My Profile <small><a
                                                href="/student/user/<%= userInfo.User_ID %>/profile-view/edit">Edit
                                                <i></i><i class="fa fa-pen"></i></a></small>
                                    </p>
                                    <hr>
                                    <p>My Courses <small class="label label-primary">
                                            <%=courses.length%>
                                        </small></p>
                                    <hr>
                                    <p>Notifications <small class="label label-primary"><a href="#">0</a></small></p>
                                </div>
                            </div>
                            <!-- left side bar ends-->


                            <% if(editReq=='true' ) { %>

                                <div id="course-content" class="col-md-8">
                                    <div class="course-description">
                                        <h3 class="course-title">Edit Profile</h3>

                                        <div class="edit-profile">
                                            <form action="/student/user/<%= userInfo.User_ID %>/profile-view/edit"
                                                method="POST" enctype="multipart/form-data" class="edit-form"
                                                id="edit-form">
                                                <div class="form-group">
                                                    <label for="name"><i
                                                            class="zmdi zmdi-account material-icons-name"></i></label>
                                                    <input type="text" name="name" id="name" placeholder="Your Name" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Email Address</label>

                                                    <input type="email" name="email" id="email" class="form-control"
                                                        placeholder="name@learnplus.com">
                                                </div>
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input type="password" name="pass" id="pass" class="form-control"
                                                        placeholder="************">
                                                </div>
                                                <div class="form-group">
                                                    <label>Re-Enter Password</label>
                                                    <input type="password" name="re_pass" id="re_pass"
                                                        class="form-control" placeholder="************">

                                                    <input type="email" class="form-control" placeholder="name@learnplus.com">
                                                </div>
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input type="password" class="form-control" placeholder="************">
                                                </div>
                                                <div class="form-group">
                                                    <label>Re-Enter Password</label>
                                                    <input type="password" class="form-control" placeholder="************">

                                                </div>
                                                <div class="form-group">
                                                    <label>About Your Self</label>
                                                    <textarea type="text" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.."></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Upload Image</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" runat="Server" type="file"
                                                            name="uploaded_image" enctype="multipart/form-data"
                                                            accept="" />
                                                    </div>

                                                </div>
                                                <button type=" submit " class="btn btn-primary ">Submit Changes</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>



                                <% } else { %>

                                    <div class="container col-md-8">

                                        <a href="" class="btn btn-secondary text-primary text-uppercase <%= myCoursesReq=='true'? 'active':'' %> " style="display: inline; margin-right: 3rem;"> My Courses </a>


                                        <hr style="margin-bottom : 2rem;">

                                        <% if(courses.length> 0 ) { %>
                                            <%for(let course of courses){%>
                                                <!-- for loop here -->
                                                <div class="row course-list ">

                                                    <div class="col-md-4 col-sm-4 col-xs-12 ">
                                                        <div class="shop-item-list">
                                                            <div>
                                                                <img src="/upload/xcourse_01.png.pagespeed.ic.XTOvCuUmZu.png " alt=" ">
                                                                <div class="magnifier ">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-8 col-md-8 ">
                                                        <div class="shop-list-desc ">
                                                            <h4 style="font-size:large; margin-top:0; margin-bottom: 0; margin-left: 0; ">
                                                                <a href="/student/user/<%=userInfo.User_ID%>/course-view/<%= course.Course_ID %> ">
                                                                    <%=course.Title%>
                                                                </a>
                                                            </h4>

                                                            <div class="shopmeta " style="margin-bottom:0; ">
                                                                <span class="rating <%=course.Rating%>">
                                                                    <i class="fa fa-star "></i>
                                                                    <i class="fa fa-star "></i>
                                                                    <i class="fa fa-star "></i>
                                                                    <i class="fa fa-star "></i>
                                                                    <i class="fa fa-star-half-alt "></i>
                                                                </span>
                                                            </div>

                                                            <!--progress bar -->
                                                            <p class="lead" style=" margin-bottom: 0; margin-top: 1rem; color:rgb(21, 129, 44); ">
                                                                90% Completed</p>
                                                            <div class="progress ">
                                                                <div class="progress-bar " role="progressbar " style="width: 40%; background-color: rgb(18, 19, 19); ">
                                                                    <span class="sr-only " style=" margin-top: 0; ">Complete
                                                                        40%</span>
                                                                </div>
                                                            </div>
                                                            <!--progress bar ends-->

                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                                                    <!-- for loop ends here -->

                                                    <% } else { %>
                                                        <h2 class="text-primary text-uppercase" style="letter-spacing: 5px; margin-top: 5rem;">
                                                            No courses yet..
                                                        </h2>
                                                        <% } %>

                                    </div>
                                    <% }%>





                        </div>
                    </div>
                </section>


                <%- include('../includes/footer.ejs') %>
    </body>

    </html>