<%- include('../includes/starting.ejs') %>

    <body>
        <%- include('../includes/topbar.ejs') %>
            <%- include('../includes/search-top.ejs') %>


                <div class='main'>

                    <% if(error == 'true') { %>
                        <div class="alert alert-danger alert-dismissible" align='center'>
                            <a href="/log-in" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>ERROR!</strong>
                            <%= errorMessage %>
                        </div>
                        <% } %>


                            <section class="sign-in">
                                <div class="container">
                                    <div class="signin-content">
                                        <div class="signin-image">
                                            <figure><img src="/img/signup-image.jpg" alt="sing up image"></figure>
                                            <a href="/sign-up" class="signup-image-link">Create an account</a>
                                        </div>

                                        <div class="signin-form">
                                            <h2 class="form-title">Sign in</h2>
                                            <form action="/log-in" method="POST" class="register-form" id="login-form">

                                                <div class="form-group">
                                                    <label for="email"></label>
                                                    <input type="text" name="email" id="email" placeholder="Your User Email" />
                                                </div>

                                                <div class="form-group">
                                                    <label for="pass"></label>
                                                    <input type="password" name="pass" id="pass" placeholder="Password" />
                                                </div>

                                                <div class="form-group">
                                                    <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                                    <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                                                </div>

                                                <div class="form-group form-button">
                                                    <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                                                </div>

                                            </form>


                                            <div class="social-login">
                                                <span class="social-label">Or login with</span>
                                                <ul class="socials">
                                                    <li><a href="/log-in"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                                    <li><a href="/log-in"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                                    <li><a href="/log-in"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </section>



                            <%- include('../includes/footer.ejs') %>

                </div>
    </body>

    </html>