<%- includes(../includes/starting.ejs) %>

    <body>
        <%- includes(../includes/topbar.ejs) %>
            <%- includes(../includes/search-top.ejs) %>

                <!-- Category Start -->
                <% if(categories.length > 0 ) { %>

                    <div class="container-fluid py-5">
                        <div class="container pt-5 pb-3">

                            <div class="text-center mb-5">
                                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subjects</h5>
                                <h1>Explore Subjects</h1>
                            </div>

                            <div class="row">

                                <% for(let category of categories ) { %>

                                    <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="cat-item position-relative overflow-hidden rounded mb-2">
                                            <img class="img-fluid" src="img/cat-3.jpg" alt="">
                                            <a class="cat-overlay text-white text-decoration-none" href="/category-view/<%= category.Catagory%>/">
                                                <h4 class="text-white font-weight-medium">
                                                    <%= category.Catagory %>
                                                </h4>
                                            </a>
                                        </div>
                                    </div>

                                    <% } %>

                            </div>
                        </div>
                    </div>
                    <% } %>

                        <!-- Category ends -->





                        <%- includes(../includes/footer.ejs) %>
    </body>

    </html>