<%- includes(../includes/starting.ejs) %>

    <body>
        <%- includes(../includes/topbar.ejs) %>
            <%- includes(../includes/search-top.ejs) %>


                <!-- Category Start -->

                <% if( categories.length>0 )%>
                    <div class="container-fluid py-5">
                        <div class="container pt-5 pb-3">
                            <div class="text-center mb-5">
                                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subjects</h5>
                                <h1>Explore Top Subjects</h1>
                            </div>
                            <div class="row">

                                <% for( let cat_index=0; i<8; i++ ) { %>
                                    <div class="col-lg-3 col-md-6 mb-4">
                                        <div class="cat-item position-relative overflow-hidden rounded mb-2">
                                            <img class="img-fluid" src="/img/cat-1.jpg" alt="<%= category.name %>">
                                            <a class="cat-overlay text-white text-decoration-none" href="if(logged_in=='false') { /log-in } else { if(isStudent='true') { student/user/<%= userInfo.id %>/category-view/<%= category.id %> } else { teacher/user/<%= userInfo.id %>/category-view/<%= category.id %> } }">
                                                <h4 class="text-white font-weight-medium">
                                                    <%= categories[cat_index].name %>
                                                </h4>

                                            </a>
                                        </div>
                                    </div>
                                    <% } %>

                            </div>
                        </div>
                    </div>
                    <% } %>
                        <!-- Category Start -->


                        <!-- Courses Start -->
                        <% if( courses.length> 0 ) { %>
                            <div class="container-fluid py-5">
                                <div class="container py-5">
                                    <div class="text-center mb-5">
                                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">
                                            Courses</h5>
                                        <h1>Our Popular Courses</h1>
                                    </div>
                                    <div class="row">


                                        <% for(let cour_index=0; cour_index<6; cour_index++ ) { %>
                                            <div class="col-lg-4 col-md-6 mb-4">
                                                <div class="rounded overflow-hidden mb-2">
                                                    <img class="img-fluid" src="/img/course-1.jpg" alt="">
                                                    <div class="bg-secondary p-4">
                                                        <div class="d-flex justify-content-between mb-3">
                                                            <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>
<%= courses[cour_index].totalStudent %> Students
</small>
                                                        </div>
                                                        <a class="h5" href="if(logged_in=='false') { /log-in } else { if(isStudent='true') { student/user/<%= userInfo.id %>/course-view/<%= course.id %> } else { teacher/user/<%= userInfo.id %>/course-view/<%= course.id %> } }">
                                                            <%= courses[cour_index].name %>
                                                        </a>
                                                        <div class="border-top mt-4 pt-4">
                                                            <div class="d-flex justify-content-between">
                                                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>
                                                                    <%= courses[cour_index].rating %> <small>(<%=courses[cour_index].ratingPerson %>)</small>
                                                                </h6>
                                                                <h5 class="m-0">$
                                                                    <%= courses[cour_index].price %>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>


                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <!-- Courses End -->


                                <%- includes(../includes/footer.ejs) %>
    </body>

    </html>