<%- include('../includes/starting.ejs') %>

    <body>
        <%- include('../includes/topbar.ejs') %>
            <%- include('../includes/search-top.ejs') %>





                <section class="white section">
                    <div class="container">

                        <% 
                            let url='' ; 
                            if(logged_in=='false' ) url=url + '/' ; 
                            else{ 
                                if(isStudent=='true' ) url=url + '/student/user/' + userInfo.User_ID;
                                else url=url + '/teacher/user/' + userInfo.User_ID;
                            } %>



                            <% if( fromCategory=='true' ) { %>
                                <h5 class="text-primary text-uppercase" style="display: inline; margin-right: 1rem;">
                                    Category :</h5>
                                <h2 class="text-uppercase" style="letter-spacing: 1px; margin-bottom: 5rem; display: inline; color: #a33208;">
                                    <%= req %>
                                </h2>
                                <hr>
                                <% } else { %>
                                    <h5 class="text-primary text-uppercase" style="display: inline; margin-right: 1rem;">Result for :</h5>
                                    <h2 class="text-uppercase" style="margin-bottom: 5rem; display: inline; color: #a33208;">
                                        <%= req %>
                                    </h2>
                                    <hr>
                                    <% } %>


                                        <% if( courses.length> 0) { %>

                                            <%  
                                            let end=0;
                                            if( courses.length - start <=10 ) end=courses.length;
                                            else end=start+10;
                                        %>

                                                <% for( let index=start; index < end; index++ ) { %>

                                                    <div class="row course-list">
                                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                                            <div class="shop-item-list entry">
                                                                <div class="">
                                                                    <img src="/upload/xcourse_01.png.pagespeed.ic.XTOvCuUmZu.png" alt="">
                                                                    <div class="magnifier">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8 col-md-8">
                                                            <div class="shop-list-desc">
                                                                <h4 style="font-size:large; margin-top:0; margin-bottom: 0;">
                                                                    <a href="<%= logged_in == 'false'? url + '/log-in' : url + '/course-view/' + courses[index].course_id %>">
                                                                        <%= courses[index].Title %>
                                                                    </a>
                                                                </h4>

                                                                <div class="shopmeta" style="margin-bottom:0;">
                                                                    <span class="pull-left">
                                                                    <strong>Course Price:<%= ' ' + courses[index].Price %> <small>BDT</small>
                                                                </span>
                                                                    <span class="rating pull-right"> 
                                                                    <% let rate=Math.floor(courses[index].Rating); %>
                                                                    <% for( let star=0; star<rate; star++){ %>
                                                                        <i class="fa fa-star"></i>
                                                                    <% } %>
                                                                    <% if( rate < courses[index].Rating ) { %>
                                                                        <i class="fa fa-star-half-alt "></i>
                                                                    <% } %>
                                
                                                                </span>
                                                                </div>


                                                                <hr class="invis clearfix">
                                                                <p style="font-size:small; margin-bottom:0;">
                                                                    <%= courses[index].Description %>
                                                                </p>
                                                                <a href="<%= logged_in == 'false'? url + '/log-in' : url + '/course-view/' + courses[index].course_id %>" class="btn btn-default btn-sm">Learn More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>

                                                        <% } else { %>
                                                            <h1 class="text-primary text-uppercase" style="letter-spacing: 5px; margin-top: 5rem;">
                                                                Nothing Found...
                                                            </h1>
                                                            <% } %>



                    </div>
                </section>




                <%- include('../includes/footer.ejs') %>
    </body>

    </html>