<%- includes('../includes/starting.ejs') %>

    <body>
        <%- includes('../includes/topbar.ejs') %>
            <%- includes('../includes/search-top.ejs') %>


                <%- includes('../includes/footer.ejs') %>
    </body>

    </html>



    <% if(logged_in=='false'){%>
        <a href="/about" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
        <% } else { %>
            <% if(isStudent=='true') { %>
                <a href="student/user/<%=userInfo.id%>/about" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
                <% } else { %>
                    <a href="teacher/user/<%=userInfo.id%>/about" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
                    <% } }%>



                        <% if( courses.length> 10 ) { %>

                            <% for( let index = start; index < start+10; index++ ) { %>

                                <div class="row course-list">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="shop-item-list entry">
                                            <div class="">
                                                <img src="/upload/xcourse_01.png.pagespeed.ic.XTOvCuUmZu.png" alt="">
                                                <div class="magnifier">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-md-8">
                                        <div class="shop-list-desc">
                                            <h4 style="font-size:large; margin-top:0; margin-bottom: 0;">
                                                <a href="<%= logged_in=='true' ? url + '/course-view/' + courses[index].course_id : url + '/log-in'%> ">
                                                    <%= courses[index].Title %>
                                                </a>
                                            </h4>
                                            <div class="shopmeta" style="margin-bottom:0;">
                                                <span class="pull-left"><strong>Course
                                        Price:<%= ' ' + 
                                        course.Price %>  <small>BDT </small> </span>
                                                <span class="rating pull-right">

                                    <% let rate=Math.floor(courses[index].Rating); %>
                                        <% for( let star=0; star<rate; star++){ %>
                                            <i class="fa fa-star"></i>
                                            <% } %>
                                                <% if( rate < courses[index].Rating ) {
                                                    %>
                                                    <i class="fa fa-star-half-alt "></i>
                                                    <% } %>

                                </span>
                                            </div>


                                            <hr class="invis clearfix">
                                            <p style="font-size:small; margin-bottom:0;">
                                                <%= courses[index].Description %>
                                            </p>
                                            <a href="<%= logged_in=='true' ? url + '/course-view/' + courses[index].course_id : url + '/log-in'%> " class="btn btn-default btn-sm">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <% } %>

                                    <hr class="invis">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="#" class="btn btn-default btn-block"><i
                                    class="fas fa-chevron-left"></i></a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#" class="btn btn-default btn-block"><i
                                    class="fas fa-chevron-right"></i></a>
                                        </div>
                                    </div>



                                    <% } else { %>

                                        <% for( let course of courses ) { %>

                                            <div class="row course-list">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="shop-item-list entry">
                                                        <div class="">
                                                            <img src="/upload/xcourse_01.png.pagespeed.ic.XTOvCuUmZu.png" alt="">
                                                            <div class="magnifier">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-md-8">
                                                    <div class="shop-list-desc">
                                                        <h4 style="font-size:large; margin-top:0; margin-bottom: 0;">
                                                            <a href="<%= logged_in=='true' ? url + '/course-view/' + courses[index].course_id : url + '/log-in'%> ">
                                                                <%= course.Title %>
                                                            </a>
                                                        </h4>
                                                        <div class="shopmeta" style="margin-bottom:0;">
                                                            <span class="pull-left"><strong>Course
                                                    Price:</strong><%= ' ' + 
                                                    course.Price %>  <small>BDT </small> </span>
                                                            <span class="rating pull-right">

                                                <% let
                                                    rate=Math.floor(course.Rating);
                                                    %>
                                                    <% for( let star=0; star<rate;
                                                        star++){ %>
                                                        <i class="fa fa-star"></i>
                                                        <% } %>
                                                            <% if( rate <
                                                                course.Rating )
                                                                { %>
                                                                <i
                                                                    class="fa fa-star-half-alt "></i>
                                                                <% } %>

                                            </span>
                                                        </div>


                                                        <hr class="invis clearfix">
                                                        <p style="font-size:small; margin-bottom:0;">
                                                            <%= course.Description %>
                                                        </p>
                                                        <a href="<%= logged_in=='true' ? url + '/course-view/' + courses[index].course_id : url + '/log-in'%> " class="btn btn-default btn-sm">Learn
                                            More</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>

                                                <% } %>



                                                    <% if( courses.length> 0) { %>

                                                        <%  
    let end=0;
    if( courses.length - start <=10 ) end=courses.length;
    else end=start+10;
%>

                                                            <% for( let index=start; index < end; index++ ) { %>

                                                                <div class="row course-list">
                                                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                                                        <div class="shop-item-list entry">
                                                                            <div class="">
                                                                                <img src="/upload/xcourse_01.png.pagespeed.ic.XTOvCuUmZu.png" alt="">
                                                                                <div class="magnifier">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-8 col-md-8">
                                                                        <div class="shop-list-desc">
                                                                            <h4 style="font-size:large; margin-top:0; margin-bottom: 0;">
                                                                                <a href="">
                                                                                    <%= courses[index].Title %>
                                                                                </a>
                                                                            </h4>
                                                                            <div class="shopmeta" style="margin-bottom:0;">
                                                                                <span class="pull-left"><strong>Course
                Price:<%= ' ' + course.Price %> <small>BDT
                    </small> </span>
                                                                                <span class="rating pull-right">

            <% 
                let rate=Math.floor(courses[index].Rating);
            %>
            <% for( let star=0; star<rate; star++){ %>
                <i class="fa fa-star"></i>
            <% } %>
            <% if( rate < courses[index].Rating ) { %>
                <i class="fa fa-star-half-alt "></i>
            <% } %>

        </span>
                                                                            </div>


                                                                            <hr class="invis clearfix">
                                                                            <p style="font-size:small; margin-bottom:0;">
                                                                                <%= courses[index].Description %>
                                                                            </p>
                                                                            <a href="" class="btn btn-default btn-sm">Learn More</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% } %>

                                                                    <% } else { %>
                                                                        <h1 class="text-primary text-uppercase" style="letter-spacing: 5px; margin-top: 5rem;">
                                                                            Nothing Found...
                                                                        </h1>
                                                                        <% } %>