<%- include('../includes/starting.ejs') %>

    <body>
        <%- include('../includes/topbar.ejs') %>
            <%- include('../includes/search-top.ejs') %>


                <section class="white section" style="top: 0%;">
                    <div class="container-fluid" style="top: 0%;">

                        <% if(create_button == 'false') { %>

                            <form method="post">
                                <div class="container" style="align-items: center;">
                                    <label for="course_name" style="width: 100%;"><strong>TITLE</strong></label>
                                    <input type="text" name="course_name" id="course_name" placeholder="Course Name" style="width: 80%;" />
                                    <br>
                                    <button class="btn btn-primary" type="submit" style="margin-top: 3rem;">Create New</button>
                                </div>
                            </form>

                            <% } else { %>

                                <div class="row">
                                    <div class="col-md-5 pull-left">
                                        <p style="display: inline;">Teachers : </p>
                                        <% for( teacher_in of teachers_in ) { %>
                                            <a href=" " title=" ">
                                                <img src="/img/<%=teacher_in.image%>" class="img-circle" alt=" "> <%=teacher_in.Name + ' , '%>
                                            </a>
                                            <% } %>
                                    </div>

                                    <div class="col-md-7 pull-right">
                                        <form>
                                            <div class="sf-type" style="width: 50%; margin-bottom: 5rem;">

                                                <div class="sf-input" style="border: .25px solid; height: 40px; border-radius: 2px;">
                                                    <input type="text" id="sf-box" name="reqName" placeholder="Search Teachers by name">
                                                </div>
                                                <div class="sf-list" style="width: 48%;">
                                                    <ul>
                                                        <li class="row" style="height: 50px;">
                                                            <img src="\upload\xteam_02.jpg.pagespeed.ic.Foo3PN64df.jpg" class="col-md-3 img-responsive float-left" style="width: auto; height: 100%; display: inline; border-radius: 50px;">
                                                            <a href="" class="link col-md-7" style=" font-size: 18px;"> Teacher 1 </a>
                                                            <a class="btn col-md-1 pull-right" style="display: inline;"><i class="fa fa-plus fa-sm "></i></a>
                                                        </li>
                                                        <hr>
                                                        <li class="row" style="height: 50px;">
                                                            <img src="\upload\xteam_02.jpg.pagespeed.ic.Foo3PN64df.jpg" class="col-md-3 img-responsive float-left" style="width: auto; height: 100%; display: inline; border-radius: 50px;">
                                                            <a href="" class="link col-md-7" style=" font-size: 18px;"> Teacher 1 </a>
                                                            <a class="btn col-md-1 pull-right" style="display: inline;"><i class="fa fa-plus fa-sm "></i></a>
                                                        </li>
                                                        <hr>
                                                        <li class="row" style="height: 50px;">
                                                            <img src="\upload\xteam_02.jpg.pagespeed.ic.Foo3PN64df.jpg" class="col-md-3 img-responsive float-left" style="width: auto; height: 100%; display: inline; border-radius: 50px;">
                                                            <a href="" class="link col-md-7" style=" font-size: 18px;"> Teacher 1 </a>
                                                            <a class="btn col-md-1 pull-right" style="display: inline;"><i class="fa fa-plus fa-sm "></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="sf-submit " style="height: inherit; ">
                                                <input class="btn " type="submit " value="Search " style="border-radius:0; ">
                                            </div>
                                        </form>

                                    </div>
                                </div>

                                <!--sidebar starts -->
                                <div class="sidebar">
                                    <ul>

                                        <!--dynamic overview -->
                                        <li>
                                            <div class="over">
                                                <a href="#" class="link" onclick="myFunction()">
                                            Overview <i class="fas fa-chevron-down"></i>
                                        </a>
                                            </div>



                                            <ul class="drp_down" id="drp_down">

                                                <div style="margin-top: 1rem;">
                                                    <a href="" class="link">
                                                Module
                                            </a>
                                                </div>
                                                <div style="margin-top: 1rem;">
                                                    <a href="" class="link">
                                                        <i class="fa fa-plus"></i> Create New
                                                    </a>
                                                </div>

                                            </ul>


                                        </li>
                                        <!--dynamic overview ends -->

                                        <li> <a href="" class="link"> Grades </a> </li>
                                        <li> <a href="" class="link"> FAQ </a> </li>

                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                                <!--sidebar ends -->


                                <!--create new view -->
                                <div class="week others pull-right" id="week1">
                                    <div class="info">
                                        <h2>Week 2</h2>
                                        <h5>Week Lessons</h5>
                                    </div>
                                    <!-- week lesson-->
                                    <div class="course-table ">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Lesson Title</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>

                                        </table>
                                    </div>
                                    <!-- week lesson ends -->

                                </div>





                                <!--create new view ends -->

                                <% } %>







                    </div>
                </section>


                <%- include('../includes/footer.ejs') %>
                    <script src="/js/app.js "></script>
    </body>

    </html>