<%- include('../includes/starting.ejs') %>

    <body>
        <%- include('../includes/topbar.ejs') %>
            <%- include('../includes/search-top.ejs') %>


                <section class="white section" style="top: 0%;">
                    <div class="container-fluid" style="top: 0%;">

                        <% if(create_button=='false' ) { %>

                            <form method="post" action="/teacher/user/<%= userInfo.User_ID %>/add-course/pre">
                                <div class="container" style="align-items: center;">
                                    <label for="course_name" style="width: 100%;"><strong>TITLE</strong></label>
                                    <input type="text" name="course_name" id="course_name" placeholder="Course Name" style="width: 80%;" />
                                    <br>
                                    <button class="btn btn-primary" type="submit" style="margin-top: 3rem;">Create
                                        New</button>
                                </div>
                            </form>

                            <% } else { %>

                                <div class="container">
                                    <div class="row">

                                        <div class="col-md-5 pull-left">
                                            <p style="display: inline;">Teachers : </p>
                                            <% for( teacher_in of teachers_in ) { %>
                                                <a href=" " title=" ">
                                                    <%=teacher_in.Name + ' , ' %>
                                                </a>
                                                <% } %>
                                        </div>

                                        <div class="col-md-7 pull-right">

                                            <form action="/teacher/user/<%=userInfo.User_ID%>/add-course/<%=courseInfo.course_id%>/search-teacher" method="POST">
                                                <div class="sf-type">
                                                    <div class="sf-input">
                                                        <input type="text" name="search_bar_req" id="search_bar_req" placeholder="Search by course or category" style="border: .3px solid;">
                                                    </div>
                                                </div>
                                                <div class="sf-submit">
                                                    <input class="btn" type="submit" value="Search" style="border-radius:0;">
                                                </div>
                                            </form>
                                            <br>

                                            <% if(req_teachers_show=='true') { %>
                                                <% if(req_teachers.length > 0) { %>
                                                    <div class="form-control container-fluid pull-left" style="width: 100%; height: auto; margin-top: 1rem;">
                                                        <a href="/teacher/user/<%= userInfo.User_ID%>/add-course/<%=courseInfo.course_id%>">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                        <ul>
                                                            <% for( let req_teacher of req_teachers ) { %>
                                                                <li class="row" style="height: 40px;">
                                                                    <section class="col-md-2  float-left">
                                                                        <img src="/img/<%= req_teacher.image %>" style="width: 50px; height: 50px; display: inline; border-radius: 50px;">
                                                                    </section>
                                                                    <a href="" class="link col-md-6" style=" font-size: 22px; margin-top:6px;">
                                                                        <%= req_teacher.Name %>
                                                                    </a>
                                                                    <a href="/teacher/user/<%= userInfo.User_ID%>/add-course/<%=courseInfo.course_id%>/add-teacher/<%=req_teacher.User_ID%> " class="btn btn-secondary col-md-2 pull-right" style="display: inline; border-radius: 80px;"><i
                                                                        class="fa fa-plus fa-sm "></i></a>
                                                                </li>
                                                                <hr>
                                                                <% } %>

                                                        </ul>
                                                    </div>
                                                    <% } else { %>
                                                        <div class="form-control container-fluid pull-left" style="width: 100%; height: auto; margin-top: 1rem;">
                                                            <ul>
                                                            </ul>
                                                            <a class="link pull-right" href="/teacher/user/<%= userInfo.User_ID%>/add-course/<%=courseInfo.course_id%>"><i
                                                                class="fa fa-close"></i></a>
                                                        </div>

                                                        <% } %>
                                                            <% } %>



                                        </div>


                                    </div>
                                </div>
                                <hr style="border: .2px solid;">


                                <!--sidebar starts -->
                                <div class="sidebar">
                                    <ul>

                                        <!--dynamic overview -->
                                        <li>
                                            <div class="over">
                                                <a href="#" class="link" onclick="myFunction()">
                                                    Overview <i class="fas fa-chevron-down"></i>
                                                </a>
                                            </div>

                                            <ul class="drp_down" id="drp_down">

                                                <%index=0%>
                                                    <%for(let module of modules ){%>
                                                        <%index=index+1%>


                                                            <div style="margin-top: 1rem;">
                                                                <a href="/teacher/user/<%=userInfo.User_ID%>/add-course/<%=courseInfo.course_id%>/<%=module.Module_ID%>" class="link">
                                                                    Module <%=index%>
                                                                </a>
                                                            </div>


                                                            <%}%>

                                                                <div style="margin-top: 1rem;">
                                                                    <a href="/teacher/user/<%=userInfo.User_ID%>/add-course/<%=courseInfo.course_id%>/newModule" class="link">
                                                                        <i class="fa fa-plus-circle"></i> New
                                                                    </a>
                                                                </div>

                                            </ul>

                                        </li>
                                        <!--dynamic overview ends -->

                                        <li> <a href="" class="link"> Messages </a> </li>
                                        <li> <a href="" class="link"> Course Info </a> </li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                                <!--sidebar ends -->



                                <!-- add new -->
                                <%if(weekView=='true'){%>
                                    <div class="create-new others pull-right" id="week1">
                                        <div class="info">
                                            <h2>Week
                                                <%=thisModule.Serial%>
                                            </h2>
                                            <label style="margin-bottom: 0;"><h5>Description : </h5></label>

                                            <form>
                                                <input placeholder="WEEK <%=thisModule.Serial%>" name="week_description" id="week_description" type="text" style="width: 60%; margin-top: 0;">
                                                <button type="submit" class="btn btn-secondary">Save</button>
                                            </form>

                                            <h5>#Week Lessons</h5>
                                        </div>


                                        <!-- week lesson-->
                                        <div class="course-table ">

                                            <table class="table ">
                                                <thead>

                                                    <tr>
                                                        <th>Type</th>
                                                        <th>Lesson Title</th>
                                                        <th>Status</th>
                                                    </tr>

                                                </thead>
                                                <tbody>

                                                    <%for(content of VideoContents){%>
                                                        <tr style="background-color:rgb(196, 228, 196);">
                                                            <td><i class="fa fa-play-circle"></i></td>
                                                            <td>
                                                                <a href="">
                                                                    <%=content.Description%>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <%=content.Duration%>
                                                            </td>
                                                            <td><i class="fa fa-check "></i></td>
                                                        </tr>
                                                        <% } %>

                                                            <%%>
                                                                <tr style="background-color:rgb(196, 228, 196);">
                                                                    <td><i class="fa fa-question-circle"></i>
                                                                    </td>

                                                                    <td> <a href="">
                                                                Quiz Based on this module</a></td>
                                                                    <td>31 Min</td>
                                                                    <td><i class="fa fa-check"></i></td>
                                                                </tr>


                                                                <% if(add_quiz_button == 'false' && add_video_button == 'false') { %>
                                                                    <tr>
                                                                        <td>
                                                                            <a href="/teacher/user/<%= userInfo.User_ID%>/add-course/<%=courseInfo.course_id%>/<%=thisModule.Module_ID%>/add-video" class="btn btn-primary"> <i class="fa fa-plus-circle"> Video</i></a> /
                                                                            <a href="/teacher/user/<%= userInfo.User_ID%>/add-course/<%=courseInfo.course_id%>/<%=thisModule.Module_ID%>/add-quiz" class="btn btn-primary"> <i class="fa fa-plus-circle"> Quiz</i></a>
                                                                        </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <%  } else{ %>

                                                                        <% if(add_video_button == 'true'){%>

                                                                            <tr>
                                                                                <td><i class="fa fa-play-circle"></i></td>
                                                                                <form method="POST" action="/teacher/user/<%= userInfo.User_ID%>/add-course/<%=courseInfo.course_id%>/<%=thisModule.Module_ID%>/add-video">
                                                                                    <td>
                                                                                        <input type="file">
                                                                                    </td>
                                                                                    <td>
                                                                                        <a class="btn btn-secondary"><i class="fa fa-check"></i></a>
                                                                                </form>/
                                                                                <a href="/teacher/user/<%= userInfo.User_ID%>/add-course/<%=courseInfo.course_id%>/<%=thisModule.Module_ID%>" class="btn btn-secondary"><i class="fa fa-close"></i></a>
                                                                                </td>
                                                                            </tr>

                                                                            <% } else if(add_quiz_button == 'true') {%>

                                                                                <tr>
                                                                                    <td><i class="fa fa-play-circle"></i></td>
                                                                                    <form method="POST" action="/teacher/user/<%= userInfo.User_ID%>/add-course/<%=courseInfo.course_id%>/<%=thisModule.Module_ID%>/add-quiz">
                                                                                        <td>
                                                                                            <input type="file">
                                                                                        </td>
                                                                                        <td>
                                                                                            <a class="btn btn-secondary"><i class="fa fa-check"></i></a>
                                                                                    </form>/
                                                                                    <a href="/teacher/user/<%= userInfo.User_ID%>/add-course/<%=courseInfo.course_id%>/<%=thisModule.Module_ID%>" class="btn btn-secondary"><i class="fa fa-close"></i></a>
                                                                                    </td>
                                                                                </tr>

                                                                                <% } %>
                                                                                    <% } %>






                                                </tbody>

                                            </table>
                                        </div>


                                        <!-- week lesson ends -->

                                    </div>
                                    <%}%>
                                        <!-- add new ends -->







                                        <% } %>
                    </div>
                </section>


                <%- include('../includes/footer.ejs') %>
                    <script src="/js/app.js "></script>
    </body>

    </html>