<%- include('../includes/starting.ejs') %>

    <body>
        <%- include('../includes/topbar.ejs') %>
            <%- include('../includes/search-top.ejs') %>


                <% let url='' ; if(isStudent=='true' ) url=url + '/student/user/' + userInfo.User_ID; else url=url
                    + '/teacher/user/' + userInfo.User_ID; %>


                    <section class="white section">


                        <!-- main course info part start-->
                        <div class="container-fluid py-5" style="width:88%; padding-left: 5rem; padding-right:5rem; ">
                            <div class="row ">

                                <!--left side course with picture section -->
                                <div id="course-left-sidebar " class="col-md-4 pull-left ">

                                    <div class="course-image-widget ">
                                        <img src="/img/<%=course.Image%>" alt="" class="img-responsive ">
                                    </div>

                                    <div class="course-meta ">
                                        <p class="course-category ">Category :
                                            <a href="<%= url +  '/category-view/' + course.Catagory  %>">
                                                <%=course.Catagory%>
                                            </a>
                                        </p>
                                        <hr>

                                        <div class="rating ">
                                            <p>Rating :
                                                <%=course.Rating%>
                                            </p>
                                        </div>
                                        <hr>

                                        <p class="course-student ">Students :
                                            <%=course.total_Enrolled%> Enrolled
                                        </p>
                                        <hr>

                                        <p class="course-prize ">Price :
                                            <%=course.Price%>
                                        </p>
                                        <hr>

                                        <p class="course-instructors ">Instructor :
                                            <% for( let teacher of teachers) { %>
                                                <a href=" " title=" ">
                                                    <img src="/img/<%=teacher.image%>" class="img-circle" alt=" "> <%=teacher.Name + ' , '%>
                                                </a>
                                                <% } %>
                                        </p>
                                        <hr>

                                    </div>

                                    <div class="course-button ">
                                        <%if(purchased==false){%>
                                            <a href="<%= url + '/course-inside-view/' +  course.course_id %>" class="btn btn-primary btn-block inline-block ">TAKE</a>
                                            <%} else { %>
                                                <a href="<%= url + '/course-inside-view/' +  course.course_id %>" class="btn btn-primary btn-block inline-block ">VIEW</a>
                                                <%}%>
                                    </div>

                                </div>
                                <!--left side course with picture section ends here-->


                                <div id="course-content " class="col-md-8 pull-right ">

                                    <div class="course-description ">

                                        <small>Course Level: <span>
                                                <%=course.Level%>
                                            </span> </small>

                                        <h1 class="course-title ">
                                            <!-- title -->
                                            <%=course.Title%>
                                        </h1>


                                        <p>
                                            <!-- description -->
                                            <%=course.Description%>
                                        </p>

                                    </div>

                                    <!-- course lesson-->
                                    <div class="course-table ">
                                        <h4>Course Lessons</h4>
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Lesson Title</th>
                                                </tr>
                                            </thead>

                                            <tbody>


                                                <!-- for loop -->
                                                <%for(let content of contents){%>
                                                    <tr>
                                                        <td><i class="fa fa-play-circle "></i></td>
                                                        <td>
                                                            <%=content.Description%>
                                                        </td>
                                                    </tr>
                                                    <%}%>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- course lesson ends -->



                                    <hr class="invis ">


                                    <!-- review portion start -->
                                    <div id="reviews" class="feedbacks">
                                        <p>
                                            <a class="btn btn-default btn-block" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                What our user said? (<%=reviews.length%> feedbacks) </a>
                                        </p>


                                        <!-- comment dropdown portion  -->
                                        <div class="collapse" id="collapseExample">
                                            <div class="well">
                                                <!-- single person (for loop here) -->
                                                <%for(let review of reviews){%>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <img class="media-object" src="/img/<%=review.image%>" alt="Generic placeholder image">
                                                        </div>

                                                        <div class="media-body">

                                                            <h4 class="media-heading">
                                                                <!-- name -->
                                                                <%=review.Name%>
                                                            </h4>

                                                            <p>
                                                                <!-- review/comment -->
                                                                <%=review.Review%>
                                                            </p>

                                                        </div>
                                                    </div>
                                                    <%}%>
                                            </div>
                                        </div>
                                        <!--comment dropdown portion -->


                                    </div>
                                    <!-- review portion ends -->




                                    <!-- did you see portion -->
                                    <div class="other-courses ">
                                        <img src="/images/xothers.png.pagespeed.ic.BLyi2PaMRC.png " alt=" " class=" ">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- main course info part end -->





                        <!-- did you see Start -->
                        <% if( topCourses.length) { %>
                            <div class="container py-5">
                                <div class="container py-5">
                                    <div class="text-center mb-5">

                                    </div>
                                    <div class="row">
                                        <%index=0%>
                                            <% for(let course of topCourses ) { %>
                                                <%index++;if(index>3)break;%>
                                                    <div class="col-lg-4 col-md-6 mb-4">
                                                        <div class="rounded overflow-hidden mb-2">
                                                            <img class="img-fluid" src="/img/<%=course.Image %>" alt="">
                                                            <div class="bg-secondary p-4">
                                                                <div class="d-flex justify-content-between mb-3">
                                                                    <small class="m-0"><i
                                                                            class="fa fa-users text-primary mr-2"></i>
                                                                        <%= course.total_Enrolled %> Students
                                                                    </small>
                                                                </div>
                                                                <% if(logged_in=='false' ){%>
                                                                    <a class="h5" href="/log-in">
                                                                        <%= course.Title %>
                                                                    </a>
                                                                    <% } else { %>
                                                                        <% if(isStudent=='true' ) { %>
                                                                            <a class="h5" href="/student/user/<%=userInfo.User_ID%>/course-view/<%= course.course_id %>">
                                                                                <%= course.Title %>
                                                                            </a>
                                                                            <% } else { %>
                                                                                <a class="h5" href="/teacher/user/<%=userInfo.User_ID%>/course-view/<%= course.course_id %>">
                                                                                    <%= course.Title %>
                                                                                </a>
                                                                                <% } }%>
                                                                                    <div class="border-top mt-4 pt-4">
                                                                                        <div class="d-flex justify-content-between">
                                                                                            <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>
                                                                                                <%= course.Rating %>
                                                                                            </h6>
                                                                                            <h5 class="m-0">$
                                                                                                <%= course.Price %>
                                                                                            </h5>
                                                                                        </div>
                                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <!-- did you see end  -->





                    </section>




                    <%- include('../includes/footer.ejs') %>
    </body>

    </html>