<%- include('../includes/starting.ejs') %>

    <body>
        <%- include('../includes/topbar.ejs') %>
            <%- include('../includes/search-top.ejs') %>

                <!--sidebar starts -->
                <div class="sidebar">
                    <ul>

                        <!--dynamic overview -->
                        <li>
                            <div class="over">
                                <a href="#" class="link" onclick="myFunction()">
                                    Overview <i class="fas fa-chevron-down"></i>
                                </a>
                            </div>


                            <ul class="drp_down" id="drp_down">
                                <%index=0%>
                                    <%for(let module of modules ){%>
                                        <%index=index+1%>

                                            <div style="margin-top: 1rem;">
                                                <a href="/student/user/<%=userInfo.User_ID%>/course-inside-view/<%=course.course_id%>/<%=module.Module_ID%>" class="link">
                                                    Module <%=index%>
                                                </a>
                                            </div>
                                            <%}%>

                            </ul>

                        </li>
                        <!--dynamic overview ends -->


                        <li> <a href="/student/user/<%=userInfo.User_ID%>/course-inside-view/<%=course.course_id%>/Grades" class="link"> Grades </a> </li>                             
                        <li> <a href="/student/user/<%=userInfo.User_ID%>/course-inside-view/<%=course.course_id%>/FAQ" class="link"> FAQ </a> </li>


                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <!--sidebar ends -->




                <% if(weekView=='true' ) { %>
                    <div class="week others pull-right" id="week1">
                        <div class="info">


                            <h2 style="margin-bottom: 0;">Module
                                <%= thisModule.Serial %>
                            </h2>
                            <p style="margin-top: 0; margin-bottom: 0;">
                                <%= thisModule.Description  %>
                            </p>
                            <h4># Module Lessons</h4>
                        </div>


                        <!-- week lesson-->
                        <div class="course-table ">

                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Lesson Title</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <!-- for loop -->
                                    <%for(content of VideoContents){%>

                                        <% let isOk='false' ; for(let completedContent of completedContents){
                                            if(completedContent.Content_ID==content.VideoContent_ID) { isOk='true' ;
                                            break; } } %>
                                            <% if(isOk=='false' ) {%>
                                                <tr>
                                                    <td><i class="fa fa-play-circle"></i></td>
                                                    <td>
                                                        <a href="/student/user/<%=userInfo.User_ID%>/course-inside-view/<%=course.course_id%>/<%=thisModule.Module_ID%>/video/<%=content.VideoContent_ID%>">
                                                            <%=content.Description%>
                                                        </a>
                                                    </td>

                                                    <td><i class="fa fa-close "></i></td>
                                                </tr>
                                                <% } else { %>
                                                    <tr style="background-color:rgb(196, 228, 196);">
                                                        <td><i class="fa fa-play-circle"></i></td>
                                                        <td>
                                                            <a href="/student/user/<%=userInfo.User_ID%>/course-inside-view/<%=course.course_id%>/<%=thisModule.Module_ID%>/video/<%=content.VideoContent_ID%>">
                                                                <%=content.Description%>
                                                            </a>
                                                        </td>

                                                        <td><i class="fa fa-check "></i></td>
                                                    </tr>
                                                    <% } %>
                                                        <%}%>
                                                        <%if(quizContentExistence!=0){%>
                                                            <!-- for loop -->
                                                            <% let isOk2='false' ; for(let completedContent of
                                                                completedContents){
                                                                if(completedContent.Content_ID==QuizContent.QuizContent_ID)
                                                                { isOk2='true' ; break; } } %>
                                                                <% if(isOk2=='false' ) {%>
                                                                    
                                                                    <tr>
                                                                        <td><i class="fa fa-question-circle"></i></td>
                                                                        <td> <a href="/student/user/<%=userInfo.User_ID%>/course-inside-view/<%=course.course_id%>/<%=thisModule.Module_ID%>/quiz/1">
                                                                                Quiz Based on this module</a></td>

                                                                        <td><i class="fa fa-close"></i></td>
                                                                    </tr>
                                                                    <% } else { %>
                                                                        <tr style="background-color:rgb(196, 228, 196);">
                                                                            <td><i class="fa fa-question-circle"></i>
                                                                            </td>
                                                                            <td> <a href="/student/user/<%=userInfo.User_ID%>/course-inside-view/<%=course.course_id%>/<%=thisModule.Module_ID%>/quiz/1">
                                                                                    Quiz Based on this module</a></td>

                                                                            <td><i class="fa fa-check"></i></td>
                                                                        </tr>
                                                                        <% } %>
                                                                        <%}%>

                                </tbody>

                            </table>
                        </div>
                        <!-- week lesson ends -->

                    </div>
                    <% } %>

                        <% if( videoView=='true' ) {%>
                            <div class="videos others" id="videos">
                                <div class="video_container">
                                    <div class="video">


                                        <h2 style="color: #041562;">Video Topic</h2>

                                        <div class="info">
                                            <div class="discuss">
                                                <i class="fas fa-comments"></i> Discuss
                                            </div>
                                        </div>

                                        <video width="720" height="500" controls>
                                            <source src="/videos/<%=video_content.Video%>" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                        <br>
                                        <a class="btn btn-success" href="/student/user/<%=userInfo.User_ID%>/course-inside-view/<%=course.course_id%>/<%=thisModule.Module_ID%>/completed/<%= video_content.VideoContent_ID  %> ">Back
                                            to module</a>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                                <% if( quizView=='true' ) { %>

                                    <div class="container quizs others" id="quizs">
                                        <div class="row quiz_container">
                                            <div id="course-content" class="col-md-12">
                                                <div class="course-description">
                                                    <br>

                                                    <br>

                                                    <h5 class="course-title">Quiz - Question
                                                        <%= quiz_serial %>
                                                    </h5>
                                                    <div class="quiz-wrapper">

                                                        <!--Q-->
                                                        <h3>
                                                            <%=question.Question%>
                                                        </h3>
                                                        <!--Q-->

                                                        <div class="row" style="margin-bottom:2rem;">
                                                            <div class="col-md-12">

                                                                <div class="panel panel-primary">

                                                                    <% if(showAnswer=='false' ) { %>
                                                                        <form method="POST" action="/student/user/<%=userInfo.User_ID%>/course-inside-view/<%=course.course_id%>/<%=thisModule.Module_ID%>/quiz/<%= quiz_serial %> ">
                                                                            <!-- options -->
                                                                            <div class="panel-body">

                                                                                <div style="width:100%;  margin-bottom: 5px; border-radius:10px;">
                                                                                    <div class="radio">
                                                                                        <label>
                                                                                            <input name="option1"
                                                                                                id="option1"
                                                                                                value="option1"
                                                                                                type="radio">
                                                                                            <%= question.Option1 %>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div style="width:100%;  margin-bottom: 5px; border-radius:10px;">
                                                                                    <div class="radio">
                                                                                        <label>
                                                                                            <input name="option2"
                                                                                                id="option2"
                                                                                                value="option2"
                                                                                                type="radio">
                                                                                            <%= question.Option2 %>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div style="width:100%;  margin-bottom: 5px; ">
                                                                                    <div class="radio">
                                                                                        <label>
                                                                                            <input name="option3"
                                                                                                id="option3"
                                                                                                value="option3"
                                                                                                type="radio">
                                                                                            <%= question.Option3 %>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div style="width:100%;  margin-bottom: 5px;">
                                                                                    <div class="radio">
                                                                                        <label>
                                                                                            <input name="option4"
                                                                                                id="option4"
                                                                                                value="option4"
                                                                                                type="radio">
                                                                                            <%= question.Option4 %>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!--options ends-->


                                                                            <!--submission-->
                                                                            <button type="submit" class="btn btn-primary " role="button">Confirm</a>
                                                                        </form>
                                                                        <% } else { %>
                                                                            <div class="panel-body">


                                                                                <!-- option 1 -->
                                                                                <% if( given_ans !=1 ) { %>
                                                                                    <div
                                                                                        style="width:100%;  margin-bottom: 5px; ">
                                                                                        <div class="radio">
                                                                                            <label>
                                                                                                <input name="option1"
                                                                                                    id="option1"
                                                                                                    value="option1"
                                                                                                    type="radio">
                                                                                                <%= question.Option1 %>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <% } else { %>
                                                                                        <% if( question.Answer==1 ){ %>
                                                                                            <div
                                                                                                style="width:100%; background-color:rgb(162, 221, 162) ; margin-bottom: 5px; border-radius:10px;">
                                                                                                <div class="radio">
                                                                                                    <label>
                                                                                                        <input
                                                                                                            name="option1"
                                                                                                            id="option1"
                                                                                                            value="option1"
                                                                                                            type="radio">
                                                                                                        <%= question.Option1
                                                                                                            %>
                                                                                                    </label>
                                                                                                </div>
                                                                                            </div>
                                                                                            <% } else { %>
                                                                                                <div
                                                                                                    style="width:100%; background-color: rgb(236, 156, 156); margin-bottom: 5px; border-radius:10px;">
                                                                                                    <div class="radio">
                                                                                                        <label>
                                                                                                            <input
                                                                                                                name="option1"
                                                                                                                id="option1"
                                                                                                                value="option1"
                                                                                                                type="radio">
                                                                                                            <%= question.Option1
                                                                                                                %>
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <% } %>
                                                                                                    <% } %>
                                                                                                        <!-- option 1 ends -->
                                                                                                        <!-- option 2 -->
                                                                                                        <% if( given_ans
                                                                                                            !=2 ) { %>
                                                                                                            <div
                                                                                                                style="width:100%;  margin-bottom: 5px; ">
                                                                                                                <div
                                                                                                                    class="radio">
                                                                                                                    <label>
                                                                                                                        <input
                                                                                                                            name="option2"
                                                                                                                            id="option2"
                                                                                                                            value="option2"
                                                                                                                            type="radio">
                                                                                                                        <%= question.Option2
                                                                                                                            %>
                                                                                                                    </label>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <% } else {
                                                                                                                %>
                                                                                                                <% if(
                                                                                                                    question.Answer==2
                                                                                                                    ){
                                                                                                                    %>
                                                                                                                    <div
                                                                                                                        style="width:100%; border-color:rgb(162, 221, 162) ; margin-bottom: 5px; border-radius:10px;">
                                                                                                                        <div
                                                                                                                            class="radio">
                                                                                                                            <label>
                                                                                                                                <input
                                                                                                                                    name="option2"
                                                                                                                                    id="option2"
                                                                                                                                    value="option2"
                                                                                                                                    type="radio">
                                                                                                                                <%= question.Option2
                                                                                                                                    %>
                                                                                                                            </label>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <% } else
                                                                                                                        {
                                                                                                                        %>
                                                                                                                        <div
                                                                                                                            style="width:100%; background-color: rgb(236, 156, 156); margin-bottom: 5px; border-radius:10px;">
                                                                                                                            <div
                                                                                                                                class="radio">
                                                                                                                                <label>
                                                                                                                                    <input
                                                                                                                                        name="option2"
                                                                                                                                        id="option2"
                                                                                                                                        value="option2"
                                                                                                                                        type="radio">
                                                                                                                                    <%= question.Option2
                                                                                                                                        %>
                                                                                                                                </label>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                        <% }
                                                                                                                            %>
                                                                                                                            <% }
                                                                                                                                %>
                                                                                                                                <!-- option 2 ends -->


                                                                                                                                <!-- option 3 -->
                                                                                                                                <% if(
                                                                                                                                    given_ans
                                                                                                                                    !=3
                                                                                                                                    )
                                                                                                                                    {
                                                                                                                                    %>
                                                                                                                                    <div
                                                                                                                                        style="width:100%;  margin-bottom: 5px; ">
                                                                                                                                        <div
                                                                                                                                            class="radio">
                                                                                                                                            <label>
                                                                                                                                                <input
                                                                                                                                                    name="option3"
                                                                                                                                                    id="option3"
                                                                                                                                                    value="option3"
                                                                                                                                                    type="radio">
                                                                                                                                                <%= question.Option3
                                                                                                                                                    %>
                                                                                                                                            </label>
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                    <% } else
                                                                                                                                        {
                                                                                                                                        %>
                                                                                                                                        <% if(
                                                                                                                                            question.Answer==3
                                                                                                                                            ){
                                                                                                                                            %>
                                                                                                                                            <div
                                                                                                                                                style="width:100%; border-color:rgb(162, 221, 162) ; margin-bottom: 5px; border-radius:10px;">
                                                                                                                                                <div
                                                                                                                                                    class="radio">
                                                                                                                                                    <label>
                                                                                                                                                        <input
                                                                                                                                                            name="option3"
                                                                                                                                                            id="option3"
                                                                                                                                                            value="option3"
                                                                                                                                                            type="radio">
                                                                                                                                                        <%= question.Option3
                                                                                                                                                            %>
                                                                                                                                                    </label>
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                            <% } else
                                                                                                                                                {
                                                                                                                                                %>
                                                                                                                                                <div
                                                                                                                                                    style="width:100%; background-color: rgb(236, 156, 156); margin-bottom: 5px; border-radius:10px;">
                                                                                                                                                    <div
                                                                                                                                                        class="radio">
                                                                                                                                                        <label>
                                                                                                                                                            <input
                                                                                                                                                                name="option3"
                                                                                                                                                                id="option3"
                                                                                                                                                                value="option3"
                                                                                                                                                                type="radio">
                                                                                                                                                            <%= question.Option3
                                                                                                                                                                %>
                                                                                                                                                        </label>
                                                                                                                                                    </div>
                                                                                                                                                </div>
                                                                                                                                                <% }
                                                                                                                                                    %>
                                                                                                                                                    <% }
                                                                                                                                                        %>
                                                                                                                                                        <!-- option 3 ends -->

                                                                                                                                                        <!-- option 4 -->
                                                                                                                                                        <% if(
                                                                                                                                                            given_ans
                                                                                                                                                            !=4
                                                                                                                                                            )
                                                                                                                                                            {
                                                                                                                                                            %>
                                                                                                                                                            <div
                                                                                                                                                                style="width:100%;  margin-bottom: 5px; ">
                                                                                                                                                                <div
                                                                                                                                                                    class="radio">
                                                                                                                                                                    <label>
                                                                                                                                                                        <input
                                                                                                                                                                            name="option4"
                                                                                                                                                                            id="option4"
                                                                                                                                                                            value="option4"
                                                                                                                                                                            type="radio">
                                                                                                                                                                        <%= question.Option4
                                                                                                                                                                            %>
                                                                                                                                                                    </label>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                            <% } else
                                                                                                                                                                {
                                                                                                                                                                %>
                                                                                                                                                                <% if(
                                                                                                                                                                    question.Answer==4
                                                                                                                                                                    ){
                                                                                                                                                                    %>
                                                                                                                                                                    <div
                                                                                                                                                                        style="width:100%; border-color:rgb(162, 221, 162) ; margin-bottom: 5px; border-radius:10px;">
                                                                                                                                                                        <div
                                                                                                                                                                            class="radio">
                                                                                                                                                                            <label>
                                                                                                                                                                                <input
                                                                                                                                                                                    name="option4"
                                                                                                                                                                                    id="option4"
                                                                                                                                                                                    value="option4"
                                                                                                                                                                                    type="radio">
                                                                                                                                                                                <%= question.Option4
                                                                                                                                                                                    %>
                                                                                                                                                                            </label>
                                                                                                                                                                        </div>
                                                                                                                                                                    </div>
                                                                                                                                                                    <% } else
                                                                                                                                                                        {
                                                                                                                                                                        %>
                                                                                                                                                                        <div
                                                                                                                                                                            style="width:100%; background-color: rgb(236, 156, 156); margin-bottom: 5px; border-radius:10px;">
                                                                                                                                                                            <div
                                                                                                                                                                                class="radio">
                                                                                                                                                                                <label>
                                                                                                                                                                                    <input
                                                                                                                                                                                        name="option4"
                                                                                                                                                                                        id="option4"
                                                                                                                                                                                        value="option4"
                                                                                                                                                                                        type="radio">
                                                                                                                                                                                    <%= question.Option4
                                                                                                                                                                                        %>
                                                                                                                                                                                </label>
                                                                                                                                                                            </div>
                                                                                                                                                                        </div>
                                                                                                                                                                        <% }
                                                                                                                                                                            %>
                                                                                                                                                                            <% }
                                                                                                                                                                                %>
                                                                                                                                                                                <!-- option 4 ends -->

                                                                            </div>

                                                                            <h4> Correct Answer : <%= question.Answer %></h4>

                                                                            <div class="row">

                                                                                <div class="col-md-12">

                                                                                    <% let serial=+quiz_serial + +1; %>

                                                                                        <% if( serial <=total_ques) {%>
                                                                                            <a href="/student/user/<%=userInfo.User_ID%>/course-inside-view/<%=course.course_id%>/<%=thisModule.Module_ID%>/quiz/<%= serial %> "
                                                                                                class="btn btn-default btn-block">Next
                                                                                                Question<i
                                                                                                    class="fas fa-chevron-right"></i></a>
                                                                                            <% } else {%>
                                                                                                <a href="/student/user/<%=userInfo.User_ID%>/course-inside-view/<%=course.course_id%>/<%=thisModule.Module_ID%>/completed/<%= question.QuizContent_ID %> "
                                                                                                    class="btn btn-success btn-block">Back
                                                                                                    to Module
                                                                                                </a>
                                                                                                <% } %>
                                                                                </div>
                                                                            </div>
                                                                            <% } %>


                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <% } %>

                                        <% if( gradeView=='true' ) { %>
                                            <div class="week others pull-right" id="grade">
                                                <div class="info">
                        
                        
                                                    <h2>Grades </h2>
                                                    
                                                </div>
                        
                        
                                                <!-- week lesson-->
                                                <div class="course-table ">
                        
                                                    <table class="table ">
                                                        <thead>
                                                            <tr>
                                                                <th>Quiz Topic</th>
                                                                <th>Total Questions</th>
                                                                <th>Correct Answers</th>
                                                            </tr>
                                                        </thead>
                        
                                                        <tbody>
                                                            <%for(grade of grades)%>
                                                             <tr>
                                                            
                                                            <td>
                                                            
                                                                    <%=grade.Topic%>
                                                                
                                                            </td>
                                                            <td>
                                                                <%=grade.Total_Questions%>
                                                            </td>
                                                            <td><%=grade.Correct_Answers%></i></td>
                                                        </tr>
                                                        </tbody>
                                                        </table>
                                                        </div>
                                            </div>
                                            <% } %>

                                        <% if(faqView == 'true'){ %>
                                            <div class='faqs others' id="faqs">
                                            
                                                
                                                <div class="otherStudents">
                                                    <h4>Other Students' FAQ</h4>                                            
                                                    <div class="container-fluid pull-left qa-boxes">                                            
                                                        <div class="container-fluid pull-left qas"> 

                                                            <% if(others_ansQues.length > 0) { %>
                                                                <% for( let info of others_ansQues ) { %>
                                                                    <div class="question-box">                                            
                                                                        <div class="row">
                                                                            <div class="col-md-.5">
                                                                                <span><img src="/img/<%= info.Student_Image %>"
                                                                                        style="height: 40px; width: 40px; border-radius: 50px; border: .3px solid;"></span>
                                                                            </div>
                                                                            <div class="col-md-1 pull-left" style="display: inline; font-size: smaller;">
                                                                                <%= info.Student_Name %>
                                                                            </div>
                                                                            <div class="col-md-9 pull-right" style="display: inline;">                                                    
                                                                                <small> Question : <br>                                                                                  
                                                                                    <strong> <%= info.Question %> </strong>                                                                                   
                                                                                </small>
                                                                            </div>
                                                                        </div>                                            
                                                                    </div>
                                                                    <div class="ans-box">                                            
                                                                        <div class="row">
                                                                            <div class="col-md-.5">
                                                                                <span><img src="/img/<%= info.Teacher_Image %>"
                                                                                        style="height: 40px; width: 40px; border-radius: 50px; border: .3px solid;"></span>
                                                                            </div>
                                                                            <div class="col-md-1 pull-left" style="display: inline; font-size: smaller;">
                                                                                <%= info.Teacher_Name %>
                                                                            </div>
                                                                            <div class="col-md-9 pull-right" style="display: inline;">                                                    
                                                                                <small> Answer : <br>                                                                                  
                                                                                    <strong> <%= info.Answer %> </strong>                                                                                   
                                                                                </small>
                                                                            </div>
                                                                        </div>                                            
                                                                    </div>                                                                 
                                                                <% } %>
                                                            <% } %>
                                                            <% if(others_Ques.length > 0) { %>
                                                                <% for( let info of others_Ques ) { %>
                                                                    <div class="question-box">                                            
                                                                        <div class="row">
                                                                            <div class="col-md-.5">
                                                                                <span><img src="/img/<%= info.Student_Image %>"
                                                                                        style="height: 40px; width: 40px; border-radius: 50px; border: .3px solid;"></span>
                                                                            </div>
                                                                            <div class="col-md-1 pull-left" style="display: inline; font-size: smaller;">
                                                                                <%= info.Student_Name %>
                                                                            </div>
                                                                            <div class="col-md-9 pull-right" style="display: inline;">                                                    
                                                                                <small> Question : <br>                                                                                  
                                                                                    <strong> <%= info.Question %> </strong>                                                                                   
                                                                                </small>
                                                                            </div>
                                                                        </div>                                            
                                                                    </div>
                                                                <% } %>
                                                            <% } %>                                                         
                                                        </div>                                            
                                                    </div>
                                            
                                                </div>

                                                <hr>

                                                <div class="mine">
                                                    <h4>Yours' FAQ</h4>
                                                    <div class="container-fluid pull-left qa-boxes">                                                    
                                                        <div class="container-fluid pull-left qas">

                                                            <% if(mine_ansQues.length > 0) { %>
                                                                <% for( let info of mine_ansQues ) { %>
                                                                    <div class="question-box">                                            
                                                                        <div class="row">
                                                                            <div class="col-md-.5">
                                                                                <span><img src="/img/<%= info.Student_Image %>"
                                                                                        style="height: 40px; width: 40px; border-radius: 50px; border: .3px solid;"></span>
                                                                            </div>
                                                                            <div class="col-md-1 pull-left" style="display: inline; font-size: smaller;">
                                                                                <%= info.Student_Name %>
                                                                            </div>
                                                                            <div class="col-md-9 pull-right" style="display: inline;">                                                    
                                                                                <small> Question : <br>                                                                                  
                                                                                    <strong> <%= info.Question %> </strong>                                                                                   
                                                                                </small>
                                                                            </div>
                                                                        </div>                                            
                                                                    </div>
                                                                    <div class="ans-box">                                            
                                                                        <div class="row">
                                                                            <div class="col-md-.5">
                                                                                <span><img src="/img/<%= info.Teacher_Image %>"
                                                                                        style="height: 40px; width: 40px; border-radius: 50px; border: .3px solid;"></span>
                                                                            </div>
                                                                            <div class="col-md-1 pull-left" style="display: inline; font-size: smaller;">
                                                                                <%= info.Teacher_Name %>
                                                                            </div>
                                                                            <div class="col-md-9 pull-right" style="display: inline;">                                                    
                                                                                <small> Answer : <br>                                                                                  
                                                                                    <strong> <%= info.Answer %> </strong>                                                                                   
                                                                                </small>
                                                                            </div>
                                                                        </div>                                            
                                                                    </div>                                                                 
                                                                <% } %>
                                                            <% } %>
                                                            <% if(mine_Ques.length > 0) { %>
                                                                <% for( let info of mine_Ques ) { %>
                                                                    <div class="question-box">                                            
                                                                        <div class="row">
                                                                            <div class="col-md-.5">
                                                                                <span><img src="/img/<%= info.Student_Image %>"
                                                                                        style="height: 40px; width: 40px; border-radius: 50px; border: .3px solid;"></span>
                                                                            </div>
                                                                            <div class="col-md-1 pull-left" style="display: inline; font-size: smaller;">
                                                                                <%= info.Student_Name %>
                                                                            </div>
                                                                            <div class="col-md-9 pull-right" style="display: inline;">                                                    
                                                                                <small> Question : <br>                                                                                  
                                                                                    <strong> <%= info.Question %> </strong>                                                                                   
                                                                                </small>
                                                                            </div>
                                                                        </div>                                            
                                                                    </div>
                                                                <% } %>
                                                            <% } %>

                                                            <div class="question-box">                                                        
                                                                <form method="POST" action="/student/user/<%=userInfo.User_ID%>/course-inside-view/<%=course.course_id%>/FAQ" >
                                                                    <label for="question_inserted" style="width: 100%;">Your New Question : </label>
                                                                    <input name="question_inserted" id="question_inserted" placeholder="Write any doubt about this course' topics." style="width: 100%; height: 3rem;">
                                                                    <button type="submit" class="btn btn-success" style="margin-top: 5px;">Confirm</button>
                                                                        </form>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>




                                                </div>

                                                <% } %>


                                                    <%- include('../includes/footer.ejs') %>
                                                        <script src="/js/app.js"></script>
    </body>

    </html>